@media (max-width: 767px) and (min-width: 1px){
	#welcome{
		height: auto;
	}
    .visible{
    	text-align: left;
    	padding: 30px;
    	line-height: 24px;
    }
    .navbar-default{
        padding: 0 20px;
    }
    .navbar-header h4{
    	padding: 0;
    	float: left;
    }
    .mobile{
	   	margin-bottom: 50px;
	   	text-align: center;
    }
    .nav{
    	text-align: left;
    }
    img{
        width: 100%;
    }
    #excel{
        padding: 20px;
    }
    #excel img{
        max-width: 150px;
        text-align: center;
        margin: 0 auto;
    }
    .footer-nav{
        padding: 20px;
    }
}